.header
{
    height:800px;
    background-image:url(./images/background.webp);
}
html{
    color:white;
    font-family: 'Open Sans', sans-serif;
    background-color: black;

}
.layer
{
    height:800px;
    background-color:rgba(0,0,0,0.6);
}
.symbol
{
    background-color:rgba(0,0,0,0.7);
    color:white;
    padding:5px 10px;
}

.language
{
    position:absolute;
    color:white;
}
.navbar
{
    padding:20px 100px;
    display: flex;
    justify-content:flex-end;
}
.right
{
    border:2px solid black;
    display:flex;
    gap:20px;
}
.btn
{
    background-color:#BC13FE;
    padding:8px 10px;
    color:white;
}
.content{
    margin:200px auto;
    width: 60%;
    text-align:center;
}


.content h1{
    font-size:50px;
    font-weight:bold;
}
.content p{
    font-size:18px;
    font-weight:500;
}
.email-container>input{

     background-color:rgba(0,0,0,0);
   

}
.btn2{
    background-color:#BC13FE;
    padding:8px 10px;
    color:white;
}
.header1
{
    height:800px;
    background-image:url(./images/background.webp);
}
.layer1
{
    height:800px;
    background-color:rgba(0,0,0,0.6);
}
.logo {
	position: relative;
	z-index: 2;
	height: 90px;
}

.logo img {
	width: 170px;
	position: absolute;
	top: 20px;
	left: 40px;
}
.showcase-content {
	position: relative;
	z-index: 2;
	width: 450px;
	height: 650px;
	background: rgb(0, 0, 0, 0.7);
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	text-align: left;
	padding: 60px 65px;
}

.formm h1 {
	margin-bottom: 20px;
}

.formm {
	width: 100%;
	margin-bottom: 40px;
}

.formm .info {
	padding: 5px 0;
	/* margin-bottom: 20px; */
}

.formm .info .email {
	margin-bottom: 30px;
	width: 100%;
	height: 50px;
	border-radius: 5px;
	border: none;
	padding: 10px;
	font-size: inherit;
}

.formm .btn {
	margin-bottom: 10px;
	width: 100%;
}
.btn-primary {
	width: 100%;
	height: 50px;
	border-radius: 5px;
	background:#BC13FE;
	color: #fff;
	font-size: inherit;
	font-weight: bold;
	border: none;
	cursor: pointer;
	outline: none;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
}
.help {
	display: flex;
	justify-content: space-between;
	font-size: 0.8rem;
}
.logo1 {
	position: relative;
	z-index: 2;
	height: 90px;
}

.logo1 img {
	width: 170px;
	position: absolute;
	top: 20px;
	left: 40px;
}
.banner {
    background-image: url('./images/nhie\ image\(1\)\(2\).jpg');
    background-size: cover;
    background-position: center center;
    color: white;
    object-fit: contain;
    height: 448px;
  }
  
  .banner__contents {
    margin-left: 30px;
    padding-top: 140px;
    height: 190px;
  }
  
  .banner__title {
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
  }
  .banner__description {
    width: 45rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 0.8rem;
    max-width: 360px;
    height: 180px;
  }
  
  .banner__button {
    cursor: pointer;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 0.2vw;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgba(51, 51, 51, 0.5);
  }
  
  .banner__button:hover {
    color: #000;
    background-color: #e6e6e6;
    transition: all 0.2s;
  }
  .row__poster {
    width: 100%;
    object-fit: contain;
    max-height: 100px;
    margin-right: 10px;
    transition: transform 450ms;
  }
  
  .row__posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
  }
  
  .row__poster:hover {
    transform: scale(1.08);
  }